*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: sans-serif;
}

.top-header{
    height: 95vh;
    background-image: url(./Assets/backgroundimagenetflix.jpg);
}

.container{
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid blue;
    height: 100%;
    text-align: center;
    align-items: center;
}

.logo-language-signin{
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 25px;
    border: 2px solid yellow;
    display: flex;
    justify-content: space-between;
}

.language-signin{
    display: flex;
    gap: 20px;
    align-items: center;
}

.language{
}

.language-1{
    background-color: #191210;
    border: 3px solid #615E5E;
    border-radius: 3px;
    width: 100px;
    height: 30px;
}

button{
    background-color: #E50914;
    width: 80px;
    height: 33px;   
    border-radius: 5px;
}

.content{
    width: 70vw;
    border: 2px solid red;
    text-align: center;
    margin: 180px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1, .content h4, .content h3{
    margin-top: 20px;
}

.content h1{
    font-size: 40px;
    font-weight: 900;
}

.content h3, h4{
    font-size: 20px;
    font-weight: bold;
}

.mail-btn{
    margin-top: 20px;
    width: 40%;
    display: flex;
    /* justify-content: center; */
    padding: 10px 300px;
    justify-content: space-between;
    gap: 10px;
}
button>.btn-2{
    display: flex;
    padding: 20px;

}
.mail-btn>input{
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.7);
    border: #615E5E;
    padding: 10px 25px;
    border-radius: 5px;
}

.



